---
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import MobileMenu from '@/components/ui/mobile-menu'
import { ModeToggle } from '@/components/ui/mode-toggle'
import { NAV_LINKS, SITE } from '@/consts'
import { Image } from 'astro:assets'
import logoDark from '../../public/static/header-icon-dark.svg'
import logoLight from '../../public/static/header-icon-light.svg'
---

<header
  class="sticky top-0 z-10 bg-background/50 backdrop-blur-md"
  transition:persist
>
  <Container>
    <div class="flex flex-wrap items-center justify-between gap-4 py-4">
      <Link
        href="/"
        class="flex flex-shrink-0 items-center gap-2 text-xl font-semibold transition-colors duration-300 hover:text-primary"
      >
        <Image src={logoLight} alt="Logo" class="h-auto w-16 dark:hidden" />
        <Image
          src={logoDark}
          alt="Logo"
          class="hidden h-auto w-16 dark:block"
        />
        <span id="site-title" class="hidden">{SITE.TITLE}</span>
      </Link>
      <div class="flex items-center gap-2 md:gap-4">
        <nav class="hidden items-center gap-4 text-sm sm:gap-6 md:flex">
          {
            NAV_LINKS.map((item) => (
              <Link
                href={item.href}
                class="capitalize text-foreground/60 transition-colors hover:text-foreground/80"
              >
                {item.label}
              </Link>
            ))
          }
        </nav>
        <MobileMenu client:load transition:persist />
        <ModeToggle client:load transition:persist />
      </div>
    </div>
  </Container>
</header>

<script>
  function updateSiteTitle() {
    const siteTitle = document.getElementById('site-title')
    if (siteTitle) {
      siteTitle.classList.toggle('hidden', window.location.pathname === '/')
    }
  }

  updateSiteTitle()

  document.addEventListener('astro:after-swap', updateSiteTitle)
</script>
